body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

textarea {
    outline: none;
    padding: 5px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    &_item {
        margin-right: 20px;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 3px 7px;
        border-radius: 5px;
    }
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.post {
    border: 1px solid grey;
    box-shadow: 5px 5px grey;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    &_info {
        display: flex;
        img {
            height: 50px;
            border-radius: 50%;
            margin-right: 20px;
            margin-bottom: 20px;
            cursor: pointer;
        }
        &_header {
            &_name {
                color: blue;
                font-weight: 700;
                font-size: 24px;
                cursor: pointer;
            }
            &_work {
                display: inline-block;
                margin-right: 10px;
                cursor: pointer;
                font-size: 12px;
            }
            &_date {
                display: inline-block;
                cursor: pointer;
                color: grey;
                font-size: 12px;
            }
        }
    }
    &_content {
        font-size: 30px;
        padding-left: 70px;
        margin-bottom: 20px;
    }
}

.new-post {
    &_input {
        resize: none;
        display: block;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    &_submit {
        background: none;
        border: 1px solid;
        border-radius: 5px;
        font-size: 14px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: green;
    }
    &_submit:hover {
        background-color: green;
        color: white;
    }
}

.new-post_close {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    left: calc(100% - 18px);
    margin-bottom: 12px;
}

.post_page {
    position: relative;
    button {
        background: none;
        border: 1px solid;
        border-radius: 5px;
        font-size: 14px;
        position: absolute;
    }
    &_edit {
        color: green;
        border-color: green;
        right: 80px;
        bottom: 10px;
    }
    &_edit:hover {
        color: white;
        background-color: green;
    }
    &_delete {
        color: red;
        border-color: red;
        right: 10px;
        bottom: 10px;
    }
    &_delete:hover {
        color: white;
        background-color: red;
    }
}

.post_page_edit_input {
    resize: none;
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}

.post_page_edit_submit {
    border-color: green;
    color: green;
    bottom: 10px;
    right: 10px;
}

.post_page_edit_submit:hover {
    background-color: green;
    color: white;
}

